# Programming Assignment 2
## Bailey Korfhage
## Version 1
## CS-150-01

# Lists

## Append() adds elements to a list at the end

In [1]:
nameslist=[]
nameslist

[]

In [2]:
nameslist.append('Bailey')
nameslist

['Bailey']

## Extend() adds another list to an existing one

In [3]:
nameslist2=['Ryan', 'Samantha', 'Keith']

In [4]:
nameslist.extend(nameslist2)
nameslist

['Bailey', 'Ryan', 'Samantha', 'Keith']

## Insert() add an item to a list at a specific index

In [5]:
nameslist.insert(5,'Beyonce')
nameslist

['Bailey', 'Ryan', 'Samantha', 'Keith', 'Beyonce']

## Remove() takes out items in a list

In [6]:
nameslist.remove('Keith')
nameslist

['Bailey', 'Ryan', 'Samantha', 'Beyonce']

## Count() counts the number of unique items in a list

In [7]:
nameslist.count('Drew')

0

## Index() returns the position that a specified item is in

In [8]:
nameslist.index('Beyonce')

3

## Pop() removes an item by returning the item and deleting it from the list

In [9]:
nameslist.pop(0)

'Bailey'

In [10]:
nameslist

['Ryan', 'Samantha', 'Beyonce']

## Sorted() temporarily sorts the list alphabetically

In [11]:
sorted(nameslist)

['Beyonce', 'Ryan', 'Samantha']

In [12]:
nameslist

['Ryan', 'Samantha', 'Beyonce']

## Copy() creates a copy of the list. Using this will allow a copy of a list without it being a reference to another

In [13]:
nameslist3=nameslist.copy()
nameslist3

['Ryan', 'Samantha', 'Beyonce']

In [14]:
nameslist.append('Gary')
print(nameslist)
print(nameslist3)

['Ryan', 'Samantha', 'Beyonce', 'Gary']
['Ryan', 'Samantha', 'Beyonce']

## Clear() empties out a list

In [15]:
nameslist3.clear()
nameslist

['Ryan', 'Samantha', 'Beyonce', 'Gary']

## The list() function converts string into a list

In [16]:
arethra='RESPECT'
print(type(arethra))

<class 'str'>

In [17]:
songlyric=list(arethra)
print(songlyric)
print(type(songlyric))

['R', 'E', 'S', 'P', 'E', 'C', 'T']
<class 'list'>

# Tuples

## The len() function tells you how many items are in a list

In [18]:
trees=('oak','Palm','Maple','Cherry')
len(trees)

4

## The max() function tells you the maximum of a tuple. With letters, it goes from lowest to highest alphabetically with uppercase A as least and lowercase z as most

In [19]:
max(trees)

'Palm'

## The min() function tells you the minimum of a tuple

In [20]:
min(trees)

'Cherry'